header {
        
    font-family: Garamond, Verdana, sans-serif;
}
body {
    background-color: rgb(171, 226, 159);
    text-align: center;
    vertical-align: center;
    Font-family: Verdana, sans-serif;
    
}
footer {
    text-align: center
}
